pip==21.3.1
bump2version==1.0.1
coverage==6.3.1
flake8==4.0.1
ipython>=7.16.1
pre-commit==2.16.0
pytest==6.2.5
pytest-asyncio==0.17.2
pytest-benchmark==3.4.1
pytest-cov==3.0.0
pytest-remotedata==0.3.3
pytest-sugar==0.9.4
requests-mock==1.9.3
tox==3.24.5
Sphinx==4.4.0
twine==3.7.1
watchdog==2.1.6
wheel==0.37.1
